body {
  font-family: Helvetica, sans-serif;
  background-color: #dddddd;
}

a {
  color: #000;
}

p {
  font-size: 1.5vw;
}

textarea {
  width: 95%;
  max-width: 95%;
  height: 95%;
  max-height: 95%;
  overflow: scroll;
  resize: none;
  font-size: 1vw;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 8px 8px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  font-size: 1.5vw;
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  /* line-height: 10vh; */
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #dddddd;
}

.header img {
  display: block;
  float: left;
  border: 2px solid #dddddd;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  /* display: inline-block; */
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 600px;
  /* max-height: 240px; */
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Spacer under the fixed upper menu belt
 */
#spacer {
  height: 75px;
  width: 100%;
  /* background-color: khaki; */
}

/* 48em = 768px */

/* =========== MAIN ============== */

.main {
  background-color: #dddddd;
  border-radius: 10px;
  margin: 0px 1vw 5vw 1vw;
  min-height: 80vh;
  position: relative;
}

.main .three_left_column {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  float: left;
  padding: 1vw;
  width: 33.33%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.main .three_centre_column {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  /* border: solid 1px black; */
  display: inline-block;
  padding: 10px;  
  width: 33.33%;
  box-sizing: border-box;
}

.main .three_right_column {
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  float: right;
  padding: 10px;
  width: 33.33%;
  box-sizing: border-box;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.main .two_left_column {
  background-color: white;
  border-radius: 10px;
  border: solid 1px black;
  width: 50%;
  /* height: 70vh; */
  float: left;
  padding: 0.5vw; 
  box-sizing: border-box;
}


.main .two_right_column {
  background-color: white;
  border-radius: 10px;
  border: solid 1px black;
  width: 50%;
  /* height: 70vh; */
  float: right;
  padding: 0.5vw; 
  box-sizing: border-box;
}

.main .one_column {
  width: 100%;
}

.item {
  box-shadow: 3px 8px 8px 0 rgba(0, 0, 0, 0.1);
  float: left;
  margin: 0.4vw;
  margin-bottom: 1vw;
  background-color: white;
  /* border-radius: 10px; */
  /* width: 170px; */
  width: 15vw;
  height: 25vw;
  overflow: hidden;
  border: 1px solid black;
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
}

.item img {
  width: 15vw;
}

.item p {
  font-size: 1.3vw;
  margin: 0 0.1vw;
}

.item_menu {
  position: fixed;
  bottom: 0px;
  height: 10vh;
  width: 100%;
  background-color: cadetblue;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  margin-top: 50px;
}

.item_menu .yt {
  width: 25%;
  height: 90%;
  float: left;
  background-color: coral;
}

.item_menu .save {
  width: 25%;
  height: 90%;
  float: left;
  background-color: rgb(9, 255, 0);
}

.item_menu .submit {
  width: 25%;
  height: 90%;
  float: left;
  background-color: rgb(215, 223, 215);
}

.item_menu .cancel {
  width: 25%;
  height: 90%;
  float: left;
  background-color: rgb(252, 14, 14);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  width: 100%;
  background-color: rgb(255, 255, 255);
  min-height: 100px;
  box-shadow: 1px -8px 8px 0 rgba(0,0,0,.1);
  margin-top: 50px;
}

/* LOGIN FORM */

.log_form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 10%;
  margin: auto;
/*   -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  box-shadow: 0px 2px 5px rgba(0,0,0,.25); */
}

.log_form p {
  font-size: 2vh;
}

/* STYLES FOR BIG SCREEN */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 10px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .item {
    box-shadow: 3px 8px 8px 0 rgba(0, 0, 0, 0.1);
    float: left;
/*     margin: 0.4vw;
    margin-bottom: 1vw; */
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    /* width: 170px; */
    width: 15vw;
    height: 25vw;
    overflow: hidden;
    /* border: 1px solid black; */
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
  }
}

